body{
    background-color: rgba(0, 0, 0, .2);
}
#countLabel{
    display: block;
    text-align: center;
    font-size: 300px;
    color: blue;
}
.btns{
    margin-left: 25vw;
}
button{
    font-size: 50px;
}